<h1>Step 1: Choose your Model and color</h1>
Model:
<!--realiza a ação com o event change selecionando o modelo do carro-->
<select #model (change)="service.selectModel(model.value)">
  <option [value]="0">Choose...</option>
  <!--eu faço a chamada do metódo
do serviço no html e o track será a partir do .code da marcação q está no select, e o option dentro do for
-->
  @for (model of service.allModels(); track model.code) {
    <option [value]="model.code">{{model.description}}</option>
    }
</select>

Color:

@if(service.currentCar()){
  <!--realiza a ação com o event change selecionando a cor do carro escolhido-->
  <select #color (change)="service.selectColor(color.value)">
    @for (color of service.selectableColors(); track color.code) {
      <option [value]="color.code">{{color.description}}</option>
    }
  </select>
}

<div>
  @if(service.currentImage()){
    <img [src]="service.currentImage()" />
  }
</div>
